.body {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 120%;
  right: 0;
  width: 500px;
  max-width: 100%;
  border-radius: 10px;
  background: #F0F0F0;
}

.list {}

.block {
  padding: 10px 0;
  display: grid;
  grid-template: 50px / 50px 1fr auto;
  align-items: center;
  column-gap: 20px;
}

.block:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.img {}

.img img {
  max-width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  color: #000;
}

.info h4 {}

.info h6 {}

.block button {
  font-size: 2rem;
}

.total {
  padding: 15px 0 0 0;
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .body {
    position: fixed;
    width: 350px;
    top: 80px;
    right: 15px;
  }
}

@media (max-width: 424px) {
  .body {
    width: 98%;
    right: 50%;
    transform: translate(50%, 0);
  }
}